# OS specific files
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Build outputs
packages/cli/dist/phantom
packages/cli/dist/phantom.exe
packages/cli/dist/phantom.js
packages/cli/dist/phantom.js.map
